Lesson 1/The Market Opportunity Scout.json
{
  "name": "The Market Opportunity Scout",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1344,
        304
      ],
      "id": "bd21a3b8-571e-4bd7-9df0-794b547e1e47",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1LLD5Y5lcEpzBEtm1KtkB-jHH1SogXdoG",
          "mode": "list",
          "cachedResultName": "Regno_Unito_Generale.xlsx",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LLD5Y5lcEpzBEtm1KtkB-jHH1SogXdoG/edit?usp=drivesdk&ouid=105854262531339016567&rtpof=true&sd=true"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1856,
        576
      ],
      "id": "df3160a4-117b-46c0-8b8a-0074e9f3543e",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "zlSiTUyiuQeKAneq",
          "name": "Google Drive OAuth2 API - nicolabisio"
        }
      }
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "={{ $json.files[0].binaryKey || \"data\" }}",
        "options": {
          "headerRow": false
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        2080,
        464
      ],
      "id": "7b6f998a-7da1-4656-8f07-4f4e56c73aeb",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput || \"Based on the attached data, create a €100,000 Investment Plan. Allocate the budget across 3 specific initiatives and justify each choice using a statistic from the table.\" }}\n\n## Attached Data\n{{ $json.toJsonString() }}",
        "options": {
          "systemMessage": "You are a Senior Investment Consultant. Your task is to analyze survey data tables to identify \"Largest Gaps\" — statistically significant discrepancies between segments that inform strategy in order to identify best 3 investment area in base of grow potential.",
          "enableStreaming": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2592,
        464
      ],
      "id": "d46af565-d8f2-47c7-998b-89ed38e35058",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2240,
        464
      ],
      "id": "727065a9-8eb5-4370-8265-9aa9262c5a4b",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "model": "nvidia/nemotron-3-nano-30b-a3b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2592,
        688
      ],
      "id": "a8f3eead-6e04-40b7-b517-678a9908ccbe",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "2Kdz0n0CqQw9E6wF",
          "name": "OpenRouter free"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋",
        "options": {
          "allowFileUploads": true,
          "responseMode": "streaming"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        1344,
        576
      ],
      "id": "33390d99-3161-4846-89c8-ba089f718bbc",
      "name": "When chat message received",
      "webhookId": "f6a0ba63-2ab8-426f-9e34-f8ceb3c8ccaf"
    },
    {
      "parameters": {
        "contextWindowLength": 4
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2736,
        688
      ],
      "id": "7c1d8e6a-7278-4c36-a64a-688c007ba3e0",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.files.length }}",
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "rightValue": 0
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3bd0348e-d355-4ab0-8801-2491a361705c",
      "name": "Check if file uploaded",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1648,
        448
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst nonEmptyRows = items.filter((item) =>\n  item?.json[\"\"]?.some((row) => row?.row?.length > 0),\n);\nreturn nonEmptyRows;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2416,
        464
      ],
      "id": "3affab84-7e2a-4e8c-b6e2-22511ef48cbd",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2448,
        688
      ],
      "id": "75687c28-9574-4cfb-8a8c-3325d5b5bdd7",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "brGTjxNcgfBqCGgV",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Check if file uploaded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Check if file uploaded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Check if file uploaded": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 180,
    "availableInMCP": false
  },
  "versionId": "10726dc2-fd7c-46d9-b555-9cca8ec44055",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f55c2e193f189f3babcfe8ed703747bcbdd060fb2d77661ee0d142de10301659"
  },
  "id": "xfXAKbOLCyVExlXO",
  "tags": []
}